<footer class="footer">
    <div class="copyright">
        &copy;
        {{ with .Site.Params.since }}
        <span itemprop="copyrightYear">{{ now.Year }}</span>
        {{ end }}
         {{ if .Site.Params.author }}
            <span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a> | </span>
         {{ end }}

		  <span>Crafted with ❤️</span>
    </div>
</footer>

{{ partial "js.html" . }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>